<!doctype html>
<html>
    <head>
            
        <style>

         </style>
    </head>
<body>
    

    <div class="index">
        <a href='/'>Return to main page</a>
    </div>
    <br> 
    <div class="newpost">
        <a href='/newpost'>Create new post</a>
    </div>
 
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
    
    {% block content %}
    {% endblock %} 
    
</body>
</html> 