{% extends "base.html" %}

{% block content %}
<h1>This here is my blog</h1>
<form action="/blog" method="POST">
    <label>

    </label>
    <table>
        <tr>
            
        </tr>
    </table>
</form>

{% if post|length==0 %}
<p>No blog posts yet...</p>
{% else %}
    <ul>
        {% for new_blog in blogs %}
        <li>{{blog.title}}</li> <!--blog name w/ hyperlink to that blog as a page -->
        <!--body of blog? -->
            <form method="POST" action="/delete_blog" style="display:inline-block;">
                <!--action not right label, might not need style either-->
            <input type ="hidden" name="blog-id" value="{{blog.id}}"/> <!--double check variables-->
        </form>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}