{% extends "base.html" %}

{% block content %}
<h1>Blogz</h1>
<form action="/blog" method="POST">
    <label>
        
    </label>
</form> %---%---%---%---%--%---%---%---%---%---%---%---%---%---%---%---%---%

{% if blogs|length==0 %} 
<p>No authors posted yet.</p>
{% else %}
{% for author in blogs %} <!--'blogs' is jinja variable that relates to 'full_blog' from main.py-->
<div> 
    <a href='/blog?id={{author.id}}'> 
        <h1>{{author.title}}</h1> <!--was having issues w/ this not matching 'new_blog' above-->
    </a>
    <p>{{author.entry}}</p>
</div> 
        </form>
        {% endfor %}


{% endif %}

{% endblock %}