{% extends "base.html" %}

{% block content %}

<!--displays list of user names-->

<h1>Authors</h1>
<form action="/index" method="POST">
</form> 
{% if user|length==0 %} 
<p>No authors to list yet!</p>
{% else %}
{% for new_author in user %} <!--'blogs' is jinja variable that relates to 'full_blog' from main.py-->
<div> 
    <a href='/author_posts?id={{new_author.id}}'> <!--/was'/index'-->
        <h1>{{new_author.username}}</h1> <!--was having issues w/ this not matching 'new_blog' above-->
        {% endfor %}
</div>

{% endif %}

{% endblock %}